.filter-section {
    margin:auto;
    padding: 40px;
    background-color:lightblue;
  }
  .paragraph{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

  }
  
  .filter-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

  }
  
  .filter-controls input,
  .filter-controls select,
  .filter-controls button {
   
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .filter-controls button {
    
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
  }
  
  .filter-controls button:hover {
    background-color: #0056b3;
  }
  