.house-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Set a maximum of 4 columns */
  gap: 20px;  /* Space between columns */
  padding: 10px; 
  padding-top: 30px;
  width: calc(100vw - 20px); 
  margin: 0 auto; 
  box-sizing: border-box; 
  background-color:white;
  transition: all 0.3s ease;
}

/* Large screens: 3 columns */
@media (max-width: 1200px) {
  .house-list {
    grid-template-columns: repeat(3, 1fr);  /* 3 columns */
  }
}

/* Tablet: 2 columns */
@media (max-width: 900px) {
  .house-list {
    grid-template-columns: repeat(2, 1fr);  /* 2 columns */
  }
}

/* Mobile: 1 column */
@media (max-width: 600px) {
  .house-list {
    grid-template-columns: 1fr;  /* 1 column */
  }
}


body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
